.navbar.navbar-expand-lg {
  background-color: rgb(255, 255, 153);
}

.accordion-button {
  background-color: rgba(13, 110, 253, 0.25);
}

.carousel-caption {
  background-color: rgb(255, 255, 153);
}

.carousel-item {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  padding-left: 2%;
}
