.navbar.navbar-expand-lg {
  background-color: rgb(255, 255, 153);
}

.accordion-button {
  background-color: rgba(13, 110, 253, 0.25);
}

.carousel-caption {
  background-color: rgb(255, 255, 153);
}

.carousel-item {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  padding-left: 2%;
}

.carousel.carousel-dark.slide {
  margin-bottom: 20px;
}

.accordion-title {
  margin-bottom: 20px;
  padding-left: 3vw;
}

.accordion {
  padding-left: 1vw !important;
  padding-right: 10vw !important;
  padding-left: 2%;
}

.card-group {
  padding-top: 30px;
}

.images/new-logo.jpg {
  margin-right: 5px;
}
