.navbar.navbar-expand-lg {
  background-color: rgb(255, 255, 153);
}

.accordion-button {
  background-color: rgba(13, 110, 253, 0.25);
}

.carousel-caption {
  background-color: rgb(255, 255, 153);
}

.carousel-item {
  padding-left: 10vw !important;
  padding-right: 10vw !important;
  padding-left: 2%;
}

.carousel.carousel-dark.slide {
  margin-bottom: 20px;
}

.accordion-title {
  margin-bottom: 20px;
  padding-left: 3vw;
}

.accordion {
  padding-left: 1vw !important;
  padding-right: 10vw !important;
  padding-left: 2%;
  padding-bottom: 20px;
}

.card-group {
  padding-top: 30px;
}

.link-body-emphasis {
  padding-left: 15px;
}

.card2 {
  padding-left: 50px;
}

.col-sm-6.mb-3.mb-sm-0 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card1 {
  padding-left: 30px;
}
